
* {
    box-sizing: border-box;
}

body {
    margin: 0;
   
}

body::before {
    display: block;
    content: '';
    height: 60px;
}

.section1 {
    background: rgb(3, 3, 55);
}

#map {
    width:100%;
    height: 100%;
    border-radius: 10px;
}

@media(min-width:768px) {
.news-input {
    width: 50%;
}
}